#site-name-and-nav {
  background: rgb(231, 179, 5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

#site-name {
  color: black;
  font-style: oblique;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0;
  margin-right: 0;
}

nav {
  background: black;
  display: flex;
  align-items: center;
  border-top: 5px solid rgb(231, 179, 5);
}

nav a {
  background: inherit;
  padding-left: 1.2em;
  padding-right: 1.2em;
  font-size: 1.4em;
  color: rgb(119, 139, 226);
}

.content-section {
  background: rgb(236, 236, 236);
  color: black;
}

h2 {
  color: black;
}

.event-grid, .club-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 1em;
  padding: 0 0.7em;
}

.event-grid button, .club-grid button {
  background: rgb(37, 37, 37);
  color: white;
  border-radius: 1em;
}

.section-heading {
  padding: 1em 0;
}

#site-slogan {
  color: white;
  background: black;
  text-align: center;
  padding: 0.5em 0; 
}

.event-card, .club-card {
  padding: 20px;
  border: 1px solid black;;
  border-radius: 10px;
}

.site-footer {
  padding: 0.4em;
  font-weight: bold;
  color: black;
  background: rgb(231, 179, 5);
  border: 3px solid black;
}